
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/md5-checksums.bin
.gradle/7.4.2/checksums/sha1-checksums.bin
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/executionHistory/executionHistory.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileHashes/resourceHashesCache.bin
.gradle/7.4.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/bettertokens.main.iml
.idea/modules/bettertokens.test.iml
.idea/uiDesigner.xml
.idea/vcs.xml
build/classes/java/main/com/lypaka/catalysttokens/API/GivePointsEvent.class
build/classes/java/main/com/lypaka/catalysttokens/API/RemovePointsEvent.class
build/classes/java/main/com/lypaka/catalysttokens/CatalystTokens.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/BetterTokensCommand.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/CheckCommand.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/MenuCommand.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/OpenCommand.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/PointsCommand.class
build/classes/java/main/com/lypaka/catalysttokens/Commands/ReloadCommand.class
build/classes/java/main/com/lypaka/catalysttokens/ConfigGetters$1.class
build/classes/java/main/com/lypaka/catalysttokens/ConfigGetters$2.class
build/classes/java/main/com/lypaka/catalysttokens/ConfigGetters$3.class
build/classes/java/main/com/lypaka/catalysttokens/ConfigGetters.class
build/classes/java/main/com/lypaka/catalysttokens/ConfigUpdater.class
build/classes/java/main/com/lypaka/catalysttokens/GUIs/CommonButtons.class
build/classes/java/main/com/lypaka/catalysttokens/GUIs/MainGUI.class
build/classes/java/main/com/lypaka/catalysttokens/GUIs/MenuOpener.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/CaptureListener.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/EventRegistry$1.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/EventRegistry.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/KillPokemonListener.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/NPCDefeatListener.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/ServerShuttingDownListener.class
build/classes/java/main/com/lypaka/catalysttokens/Listeners/ServerStartingListener.class
build/classes/java/main/com/lypaka/catalysttokens/TokenEvent.class
build/classes/java/main/com/lypaka/catalysttokens/TokenMenus/Menu.class
build/classes/java/main/com/lypaka/catalysttokens/TokenMenus/MenuRegistry$1.class
build/classes/java/main/com/lypaka/catalysttokens/TokenMenus/MenuRegistry$2.class
build/classes/java/main/com/lypaka/catalysttokens/TokenMenus/MenuRegistry.class
build/createMcpToSrg/output.tsrg
build/downloadMCMeta/version.json
build/downloadMcpConfig/output.zip
build/extractSrg/output.srg
build/jarjar/jarJar/metadata.json
build/libs/CatalystTokens-1.16.5-1.0.4.jar
build/reobfJar/log.txt
build/reobfJar/output.jar
build/resources/main/assets/catalysttokens/bettertokens.conf
build/resources/main/assets/catalysttokens/events.conf
build/resources/main/assets/catalysttokens/storage.conf
build/resources/main/assets/catalysttokens/template.conf
build/resources/main/META-INF/mods.toml
build/resources/main/pack.mcmeta
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
